<!DOCTYPE html>
<html>

<head>
    <title>LIFE</title>
    <link rel="icon" href="../../icon/2764.png" type="image/png">
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
        input {

            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .container {
            border-radius: 10px;
        }

        /* CSS styles here */
        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            /* Định dạng chiều rộng của popup */
            height: 400px;
            /* Định dạng chiều cao của popup */
            background: #fff;
            /* Màu nền của popup */
            border: 1px solid #ccc;
            /* Viền của popup */
            padding: 20px;
            /* Khoảng cách giữa nội dung và viền của popup */
            display: none;
            overflow: auto;
            border-radius: 10px;
        }

        ::-webkit-scrollbar {
            width: 8px;
            /* Định dạng chiều rộng thanh kéo */
        }

        ::-webkit-scrollbar-thumb {
            background-color: #ccc;
            /* Màu của thanh kéo */
            border-radius: 10px;
            /* Định dạng bo tròn cho thanh kéo */
        }

        button {
            display: inline-block;
            padding: 5px;
            background-color: #3f87a6;
            border: none;
            color: #fff;
            font-weight: bold;
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer;
        }

        .navbar {
            /* Thiết lập vị trí */

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 3;
        }

        #intro {
            /* Thiết lập vị trí */
            position: relative;
            z-index: 2;

        }

        #noti {
            /* Thiết lập vị trí */
            position: relative;
            z-index: 1;
            border: 1px solid #ccc;
            /* Thêm viền */
            padding: 20px;
            /* Khoảng cách giữa nội dung và viền */
            margin-top: 100px;
            margin-bottom: 20px;
            /* Khoảng cách dưới */
        }

        .form-group {
            margin: 10px;
        }

        #info {
            /* Thiết lập vị trí */
            position: relative;
            z-index: 0;
            border: 1px solid #ccc;
            /* Thêm viền */
            padding: 20px;
            /* Khoảng cách giữa nội dung và viền */
        }

        h3 {
            font-size: smaller;
            opacity: 0.5;
        }

        #idStaff {
            outline: none;
            border: none;
        }
    </style>

</head>

<body>


    <%- include('../../layout/sidebar.ejs') %>

        <% if (typeof error !=='undefined' ) { %>
            <script>
                alert("<%= error %>");
            </script>
            <% delete error; %>
                <% } %>
                    <div id="noti" class="container">

                        <h2>Thông báo công việc</h2>
                        <h3>Hiện các thông báo về việc thu tiền phí bảo hiểm các bảo hiểm mà bạn quản lý</h3>
                        <table id="paymentTable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID Hợp đồng</th>
                                    <th>ID Khách</th>
                                    <th>Thông tin liên hệ</th>
                                    
                                    <th>Ngày hết hạn</th>
                                    <th>Số tiền</th>
                                    <th>Đã thu</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% contracts.forEach(function(contract) { %>
                                    <tr>
                                        <td>
                                            HD-<%= contract.idContract %>
                                        </td>
                                        <td>
                                            KH-<%= contract.idUser %>
                                        </td>
                                        <td>
                                            <%= contract.User.name %>
                                        <br>
                                            <%= contract.User.phone %>
                                       <br>
                                            <%= contract.User.address %>
                                       <br>
                                            <%= contract.User.mail %>
                                        </td>
                                        <td>
                                            <%= contract.endDate %>
                                        </td>
                                        <td>
                                            <%-contract.total %>
                                        </td>
                                        <td>
                                            <button onclick="checkPayment('<%= contract.idContract%>','<%= contract.index%>', event)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                    <path
                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>

                        </table>
                    </div>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
                    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

                    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
                    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
                    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
                    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.bootstrap5.min.js"></script>
                    <script
                        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
                    <script
                        src="https://cdn.datatables.net/searchpanes/2.2.0/js/dataTables.searchPanes.min.js"></script>
                    <script
                        src="https://cdn.datatables.net/searchbuilder/1.2.1/js/dataTables.searchBuilder.min.js"></script>
                    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>


                    <script>
                        $(document).ready(function () {
                            var table = $('#paymentTable').DataTable({
                                dom: 'Blfrtip',
                                buttons: ['excelHtml5', 'pdfHtml5'],
                                language: {
                                    url: 'https://cdn.datatables.net/plug-ins/1.11.3/i18n/vi.json'
                                },
                                paging: true,
                                pagingType: 'full_numbers',
                                pageLength: 5,
                                lengthChange: false,
                                searching: true,

                            });
                        });
                        function checkPayment(contractId,index, event) {
                            event.stopPropagation();
                            $.ajax({
                                url: '/staff/check?idContract=' + contractId+'&index='+index + '&url=/staff/home',
                                type: 'PUT',
                                success: function (response) {
                                   
                                  
                                    // Cập nhật biểu tượng của button thành biểu tượng mới (ví dụ: biểu tượng active)
                                    window.location.href = '/staff/home?url=/staff/home';
                                },
                                error: function (xhr, status, error) {
                                    // Xử lý lỗi nếu có
                                    window.location.href = '/staff/home?url=/staff/home';
                                }
                            });
                        }
                    </script>
</body>

</html>