<!DOCTYPE html>
<html>

<head>
  <title>LIFE</title>
  <link rel="icon" href="../../icon/2764.png" type="image/png">
  <style>
    input {

      border: 1px solid #ccc;
      border-radius: 4px;
    }

    select {
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    select {
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .container {
      border-radius: 10px;
    }

    h3 {
      font-size: smaller;
      opacity: 0.5;
    }

    .form-group {
      margin: 10px;
    }

    #idStaff {
      outline: none;
      border: none;

    }

    button {
      display: inline-block;
      padding: 5px;
      background-color: #3f87a6;
      border: none;
      color: #fff;
      font-weight: bold;

      border-radius: 4px;
      text-decoration: none;
      cursor: pointer;
    }
  </style>

</head>

<body>



  <h2>Form sửa thông tin loại bảo hiểm</h2>
  <form action="/insurance/editType/<%=type.idInsurance_type%>?url=/insurance/listType" method="post">
    <div class="form-group">
      <label for="idType">Mã loại:</label>
      <input type="text" id="idType" name="idType" required readonly value="<%=type.idInsurance_type%>">
    </div>
    <div class="form-group">
      <label for="name">Tên:</label>
      <input type="text" id="name" name="name" required value="<%=type.name%>" pattern="^\S.{1,253}\S$"
        title="Tên phải có độ dài từ 3 đến 255 ký tự!">
    </div>
    <div class="form-group">
      <label for="info">Thông tin:</label>
      <input type="text" id="info" name="info" required value="<%=type.info%>" pattern="^\S.{4,}\S$"
        title="Thông tin phải có ít nhất 6 ký tự!">
    </div>
    <div class="form-group">
      <button type="submit">Lưu</button>
      <button type="button" onclick="restoreValues()">Phục hồi</button>
    </div>
  </form>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    function restoreValues() {

      var name = document.getElementById("name");
      var info = document.getElementById("info");
  

      // Khôi phục giá trị ban đầu

      name.value = "<%= type.name %>";
      info.value = "<%= type.info %>";
     


    }
  </script>


</body>

</html>