<!DOCTYPE html>
<html>

<head>
  <title>LIFE</title>
  <link rel="icon" href="../../icon/2764.png" type="image/png">
  <style>
    input {

      border: 1px solid #ccc;
      border-radius: 4px;
    }

    select {
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .container {
      border-radius: 10px;
    }

    h3 {
      font-size: smaller;
      opacity: 0.5;
    }

    .form-group {
      margin: 10px;
    }

    #idStaff {
      outline: none;
      border: none;

    }

    button {
      display: inline-block;
      padding: 5px;
      background-color: #3f87a6;
      border: none;
      color: #fff;
      font-weight: bold;

      border-radius: 4px;
      text-decoration: none;
      cursor: pointer;
    }
  </style>

</head>

<body>



  <h2>Form sửa liên kết sản phẩm chính - bổ trợ</h2>
  <p>Sản phẩm: <%=insurance.name%>(BH-<%=insurance.idInsurance%>)</p>
  <p>Loại sản phẩm: <%=insurance.isMain%></p>
  
  <form action="/insurance/addMain/<%= idInsurance %>?url=/insurance/listInsurance" method="post">
    <table>
      <tr>
        <th>ID</th>
        <th>Tên sản phẩm</th>
        <th>Liên kết</th>
      </tr>
      <% sub.forEach(function(item) { %>
        <tr>
          <td>
            <%= item.idInsurance %>
          </td>
          <td>
            <%= item.name %>
          </td>
          <td><input type="checkbox" name="item" value="<%= item.idInsurance %>" <% if (item.dataValues.check===true ) { %>checked<% } %>>
          </td>
        </tr>
        <% }); %>
    </table>


    <div class="form-group">
      <button type="submit">Lưu</button>
    </div>
  </form>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



</body>

</html>