<!DOCTYPE html>
<html>

<head>

  <title>LIFE</title>
  <link rel="icon" href="../../icon/2764.png" type="image/png">
  <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.bootstrap5.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
    input {

      border: 1px solid #ccc;
      border-radius: 4px;
    }

    select {
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    select {
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    select {
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .container {
      border-radius: 10px;
    }

    .navbar {
      /* Thiết lập vị trí */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;

      z-index: 2;
    }

    #info {
      /* Thiết lập vị trí */
      position: relative;
      z-index: 1;
    }

    .container {
      margin-top: 100px;
      /* Thiết lập vị trí */
      position: relative;
      z-index: 0;
    }

    #addEmployeeBtn {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: smaller;
      opacity: 0.5;
    }

    .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      /* Định dạng chiều rộng của popup */
      height: 400px;
      /* Định dạng chiều cao của popup */
      background: #fff;
      /* Màu nền của popup */
      border: 1px solid #ccc;
      /* Viền của popup */
      padding: 20px;
      /* Khoảng cách giữa nội dung và viền của popup */
      display: none;
      overflow: auto;
      border-radius: 10px;
    }

    ::-webkit-scrollbar {
      width: 8px;
      /* Định dạng chiều rộng thanh kéo */
    }

    ::-webkit-scrollbar-thumb {
      background-color: #ccc;
      /* Màu của thanh kéo */
      border-radius: 10px;
      /* Định dạng bo tròn cho thanh kéo */
    }

    button {
      display: inline-block;
      padding: 5px;
      background-color: #3f87a6;
      border: none;
      color: #fff;
      font-weight: bold;
      border-radius: 4px;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <%- include('../../layout/sidebar.ejs') %>
    <% if (typeof error !=='undefined' ) { %>
      <script>
        alert("<%= error %>");

      </script>
      <% delete error; %>
        <% } %>



          <div class="container">
            <h2>Danh sách bảo hiểm</h2>
            <h3>Đây là danh sách bảo hiểm, ấn vào dòng chứa thông tin bảo hiểm bất kỳ để xem và sửa thông tin bảo hiểm
              đó.
            </h3>
            <!-- Thêm nút "Thêm bảo hiểm" -->
            <button id="addEmployeeBtn" onclick="addStaff()" class="btn btn-primary">Thêm bảo hiểm</button>

            <table id="insuranceTable" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Tên</th>
                  <th>Chính/phụ</th>
                  <th>Giá trị bảo hiểm</th>
                  <th>Người thêm</th>
                  <th>Ngày thêm</th>
                  <th>Loại bảo hiểm</th>
                  <th>Danh mục</th>
                  <th>Sửa danh mục</th>
                  <th>Liên kết sản phẩm chính-bổ trợ</th>
                  <th>Trạng thái</th>
                  <th>Xoá</th>
                </tr>
              </thead>
              <tbody>
                <% insurances.forEach(function(insurance) { %>
                  <tr>
                    <td onclick="viewInsuranceDetail('<%= insurance.idInsurance %>')">
                      BH-<%= insurance.idInsurance %>
                    </td>
                    <td onclick="viewInsuranceDetail('<%= insurance.idInsurance %>')">
                      <%= insurance.name %>
                    </td>
                    <td onclick="viewInsuranceDetail('<%= insurance.idInsurance %>')">
                      <%= insurance.isMain %>
                    </td>
                    <td onclick="viewInsuranceDetail('<%= insurance.idInsurance %>')">
                      <%= (insurance.insuranceAmount*1000).toLocaleString() %>
                    <td onclick="viewInsuranceDetail('<%= insurance.idInsurance %>')">
                      NV-<%= insurance.dataValues.idStaff %>
                    </td>
                    <td onclick="viewInsuranceDetail('<%= insurance.idInsurance %>')">
                      <%= insurance.dataValues.date %>
                    </td>
                    </td onclick="viewInsuranceDetail('<%= insurance.idInsurance %>')">
                    <td onclick="viewInsuranceDetail('<%= insurance.idInsurance %>')">
                      <%= insurance.dataValues.type %>
                    </td>
                    <td>
                      <%= insurance.dataValues.catalog %>
                    </td>
                    <td><button onclick="addInsuranceIntoCatalog('<%= insurance.idInsurance %>', event)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                          <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                        </svg>
                      </button></td>
                    <td>

                      <button onclick="addMain('<%= insurance.idInsurance %>', event)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                          <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                        </svg>
                      </button>

                    </td>
                    <td>
                      <% if (insurance.isDel) { %>
                        <button onclick="activeInsurance('<%= insurance.idInsurance %>', event)">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-toggle-off" viewBox="0 0 16 16">
                            <path
                              d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z" />
                          </svg>
                        </button>
                        <% } else { %>
                          <button onclick="inActiveInsurance('<%= insurance.idInsurance %>', event)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-toggle-on" viewBox="0 0 16 16">
                              <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z" />
                            </svg>
                          </button>

                          <% } %>
                    </td>
                    <td>
                      <button onclick="deleteInsurance('<%= insurance.idInsurance %>', event)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-trash" viewBox="0 0 16 16">
                          <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                          <path
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                        </svg>
                      </button>
                    </td>
                  </tr>
                  <% }); %>
              </tbody>

            </table>
          </div>
          <div id="popup" class="popup"></div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
          <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
          <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

          <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
          <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
          <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
          <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.bootstrap5.min.js"></script>
          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
          <script src="https://cdn.datatables.net/searchpanes/2.2.0/js/dataTables.searchPanes.min.js"></script>
          <script src="https://cdn.datatables.net/searchbuilder/1.2.1/js/dataTables.searchBuilder.min.js"></script>
          <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>


          <script>
            $(document).ready(function () {
              var table = $('#insuranceTable').DataTable({
                dom: 'Blfrtip',
                buttons: ['excelHtml5', 'pdfHtml5'],
                language: {
                  url: 'https://cdn.datatables.net/plug-ins/1.11.3/i18n/vi.json'
                },
                paging: true,
                pagingType: 'full_numbers',
                pageLength: 10,
                searching: true,

              });
            });

            var popupVisible = false;

            function showPopup() {
              var popup = document.getElementById("popup");
              popup.style.display = "block";
              popupVisible = true;
              // Thêm sự kiện mousedown cho document để ẩn popup khi người dùng nhấp chuột ra ngoài
              document.addEventListener("mousedown", hidePopupOutside);
            }

            function hidePopup() {
              var popup = document.getElementById("popup");
              popup.style.display = "none";
              popupVisible = false;
              // Gỡ bỏ sự kiện mousedown khỏi document
              document.removeEventListener("mousedown", hidePopupOutside);
            }

            // Ẩn popup khi người dùng nhấp chuột ra ngoài
            function hidePopupOutside(event) {
              var popup = document.getElementById("popup");
              if (!popup.contains(event.target)) {
                hidePopup();
              }
            }
            function addMain(employeeId) {
              // Sử dụng AJAX để tải nội dung trang chi tiết nhân viên
              $.ajax({
                url: '/insurance/addMain/' + employeeId + '?url=/insurance/listInsurance',
                type: 'GET',
                dataType: 'html',
                success: function (response) {
                  // Hiển thị nội dung trang chi tiết trong cửa sổ popup
                  showPopup();
                  $('#popup').html(response);
                },
                error: function (xhr, status, error) {
                  // Xử lý lỗi nếu có
                  window.location.href = '/insurance/listInsurance?url=/staff/home';
                  console.log(error);
                }
              });
            }
            function addSub(employeeId) {
              // Sử dụng AJAX để tải nội dung trang chi tiết nhân viên
              $.ajax({
                url: '/insurance/addSub/' + employeeId + '?url=/insurance/listInsurance',
                type: 'GET',
                dataType: 'html',
                success: function (response) {
                  // Hiển thị nội dung trang chi tiết trong cửa sổ popup
                  showPopup();
                  $('#popup').html(response);
                },
                error: function (xhr, status, error) {
                  // Xử lý lỗi nếu có
                  window.location.href = '/insurance/listInsurance?url=/staff/home';
                  console.log(error);
                }
              });
            }
            function addInsuranceIntoCatalog(employeeId) {
              // Sử dụng AJAX để tải nội dung trang chi tiết nhân viên
              $.ajax({
                url: '/insurance/addInsuranceIntoCatalog/' + employeeId + '?url=/insurance/listInsurance',
                type: 'GET',
                dataType: 'html',
                success: function (response) {
                  // Hiển thị nội dung trang chi tiết trong cửa sổ popup
                  showPopup();
                  $('#popup').html(response);
                },
                error: function (xhr, status, error) {
                  // Xử lý lỗi nếu có
                  window.location.href = '/insurance/listInsurance?url=/staff/home';
                  console.log(error);
                }
              });
            }
            function addStaff() {
              // Sử dụng AJAX để tải nội dung trang chi tiết nhân viên
              $.ajax({
                url: '/insurance/add?url=/insurance/listInsurance',
                type: 'GET',
                dataType: 'html',
                success: function (response) {
                  // Hiển thị nội dung trang chi tiết trong cửa sổ popup
                  showPopup();
                  $('#popup').html(response);
                },
                error: function (xhr, status, error) {
                  // Xử lý lỗi nếu có
                  window.location.href = '/insurance/listInsurance?url=/staff/home';
                  console.log(error);
                }
              });
            }



            function viewInsuranceDetail(employeeId) {
              // Sử dụng AJAX để tải nội dung trang chi tiết nhân viên
              $.ajax({
                url: '/insurance/editInsurance/' + employeeId + '?url=/insurance/listInsurance',
                type: 'GET',
                dataType: 'html',
                success: function (response) {
                  // Hiển thị nội dung trang chi tiết trong cửa sổ popup
                  showPopup();
                  $('#popup').html(response);
                },
                error: function (xhr, status, error) {
                  // Xử lý lỗi nếu có
                  window.location.href = '/insurance/listInsurance?url=/staff/home';
                  console.log(error);
                }
              });
            }



            function inActiveInsurance(employeeId, event) {
              event.stopPropagation();
              $.ajax({
                url: '/insurance/deleteInsurance/' + employeeId + '?url=/insurance/listInsurance&isDel=true',
                type: 'PUT',
                success: function (response) {
                  // Xử lý thành công
                  console.log('Đã vô hiệu hoá nhân viên:', employeeId);
                  // Cập nhật biểu tượng của button thành biểu tượng mới (ví dụ: biểu tượng inActive)
                  window.location.href = '/insurance/listInsurance?url=/staff/home';
                },
                error: function (xhr, status, error) {
                  // Xử lý lỗi nếu có
                  window.location.href = '/insurance/listInsurance?url=/staff/home';
                }
              });
            }

            function activeInsurance(employeeId, event) {
              event.stopPropagation();
              $.ajax({
                url: '/insurance/deleteInsurance/' + employeeId + '?url=/insurance/listInsurance&isDel=false',
                type: 'PUT',
                success: function (response) {
                  // Xử lý thành công
                  console.log('Đã kích hoạt nhân viên:', employeeId);
                  // Cập nhật biểu tượng của button thành biểu tượng mới (ví dụ: biểu tượng active)
                  window.location.href = '/insurance/listInsurance?url=/staff/home';
                },
                error: function (xhr, status, error) {
                  // Xử lý lỗi nếu có
                  window.location.href = '/insurance/listInsurance?url=/staff/home';
                }
              });
            }
            function deleteInsurance(employeeId, event) {
              event.stopPropagation();
              $.ajax({
                url: '/insurance/deleteInsurance/' + employeeId + '?url=/insurance/listInsurance',
                type: 'DELETE',
                success: function (response) {
                  // Xử lý thành công

                  // Cập nhật biểu tượng của button thành biểu tượng mới (ví dụ: biểu tượng active)
                  window.location.href = '/insurance/listInsurance?url=/staff/home';
                },
                error: function (xhr, status, error) {
                  // Xử lý lỗi nếu có
                  window.location.href = '/insurance/listInsurance?url=/staff/home';
                }
              });
            }



          </script>


</body>

</html>