<!DOCTYPE html>
<html>

<head>
  <title>LIFE</title>
  <style>
    h3 {
      font-size: smaller;
      opacity: 0.5;
    }

    .form-group {
      margin: 10px;
    }

    #idUser {
      outline: none;
      border: none;

    }
    button {
      display: inline-block;
      padding: 5px;
      background-color: #3f87a6;
      border: none;
      color: #fff;
      font-weight: bold;
  
      border-radius: 4px;
      text-decoration: none;
      cursor: pointer;
    }
  </style>

</head>

<body>



  <h2>Sửa thông tin khách hàng</h2>
  <form action="/user/edit/<%= user.idUser %>?url=/user/listUser" method="post">
    <div class="form-group">
      <label for="idUser">ID:</label>
      <input type="text" id="idUser" name="iduser" value="<%= user.idUser %>" readonly>
    </div>
    <div class="form-group">
      <label for="name">Tên:</label>
      <input type="text" id="name" name="name" value="<%= user.name %>" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="<%= user.mail %>" required>
    </div>
    <div class="form-group">
      <label for="phone">Số điện thoại:</label>
      <input type="tel" id="phone" name="phone" value="<%= user.phone %>" required>
    </div>
    <div class="form-group">
      <label for="address">Địa chỉ:</label>
      <input type="text" id="address" name="address" value="<%= user.address %>" required>
    </div>
    <div class="form-group">
      <label for="idCard">CCCD:</label>
      <input type="text" id="idCard" name="idCard" value="<%= user.idCard %>" required>
    </div>
    <p><strong>ID tài khoản:</strong>
      <%= user.idAccount %>
    </p>




    <div class="form-group">
      <button type="submit">Lưu</button>
      <button type="button" onclick="restoreValues()">Phục hồi</button>
    </div>
  </form>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    function editUser(userId) {
      window.location.href = '/user/edit/' + userId + '?url=/user/listUser';
    }
    function restoreValues() {

      var name = document.getElementById("name");
      var email = document.getElementById("email");
      var phone = document.getElementById("phone");
      var address = document.getElementById("address");
      var idCard = document.getElementById("idCard");
      // Khôi phục giá trị ban đầu

      name.value = "<%= user.name %>";
      email.value = "<%= user.mail %>";
      phone.value = "<%= user.phone %>";
      address.value = "<%= user.address %>";
      idCard.value = "<%= user.idCard %>";

    }




  </script>


</body>

</html>